body {
    background-color:beige;
    font-family:Arial, Helvetica, sans-serif;
    


}

.forLoopClass {
    border: 3;
    border-radius: 2px;
    background-color: aqua;
    padding: 3mm;
    max-width: 100mm;
    min-width: 90mm;
}